@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

* {
    font-family: 'Montserrat Alternates', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.menu {
    position: fixed;
    top: 0;
    left: 0;

	width: 13rem;
    height: 100%;

    box-shadow: 0 0px 18px rgba(0, 0, 0, 0.35), 0 0px 10px rgba(0, 0, 0, 0.22);

    background-image: url("./images/texture.jpg");
    background-position: left top;
    background-repeat: repeat;
    

    
    &--logo {
        img {
            width: 13rem;
            margin: 0rem;
        }
    }

    &--k {
        img {
            width: 5rem;
            margin-top: -12rem;
            pointer-events: none;
        }
    }


    &--list { 
        font-size: 1.4rem;

        list-style-type: none;
        padding: 0;

        &:hover .menu--item:not(:hover) {
            opacity: 0.5;
        }
    }

    
    &--item {
        margin-bottom: 1rem;
        padding-left: 2rem;
        margin-right: 2rem;

        transition: opacity 0.2s;

        &.current {
            border-bottom: 2px solid white;
        }

        a {
            color: white;
            text-decoration: none;

            cursor: pointer;

            &:visited {
                color: white;
            }
        }
    }
}


.main {
    padding: 0;
    padding-left: 13rem;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    
    &--image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
            max-width: 20rem;
            widows: 100%;
        
        }
    }
}

.header {
    &--image {
        background-image: url("./images/main-page-image.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
        height: calc(64vw / (1600 / 841));
        width: 100%;
    }

    &--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 3rem;
        margin-bottom: -1rem;

        color: rgb(72, 36, 12);
    }

    &--zag {
        display: flex;
        font-size: 0.9em;
        flex-direction: column;
        align-items: center;
        margin-left: 5rem;
        margin-right: 5rem;

        color: rgb(72, 36, 12);
    }
   

}

.text {
    font-family: 'Century Gothic','Futura','Didact Gothic',sans-serif;
    font-size: 1.3em;
    max-width: 60rem;
    width: 100%;
    text-align: justify;
    
    color: rgb(72, 36, 12);

    padding-top: 0;

    &--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
    }


}

.select {
    color: rgb(204, 119, 34); /* Цвет текста */
    font-family: 'Century Gothic','Futura','Didact Gothic',sans-serif;
        }

.pod {
    font-family: 'Century Gothic','Futura','Didact Gothic',sans-serif;
    font-size: 1em;
    max-width: 60rem;
    width: 100%;
    text-align: center;
  

  
   
    color: rgb(72, 36, 12);
}

/* Страница Дизайнеры */

.wrap {
    
    padding: 0;
    padding-left: 13rem;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;

}

.profi {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    

    &--zag {
        color: rgb(72, 36, 12);
        width: 100%;
        padding-left: 1rem;
        margin-bottom: 1rem;
        box-sizing: 1rem;
        
        h1 {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            
        }
    }

    &--row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-width: calc(15rem * 4);

        &-three {
            max-width: calc(15rem * 3);
        }
    }

    &--item {
        width: 100%;
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin-left: 1rem;
        margin-bottom: 1rem;
        transition: all 0.2s;
        cursor: pointer;
        max-width: 13rem;
        min-width: 10rem;

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        

        img {
            width: 100%;
        }
    }

    &--bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
        background-image: url("./images/texture.jpg");
        background-repeat: repeat;
        background-size: 20rem;
    }

    &--name {
        color: #48240c;
        font-weight: bold;
        font-size: 1.2rem;
    }

    &--country {
        color: white;
    }

    &--data {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 2rem;
        

        color: rgb(72, 36, 12);
        font-size: 1.1rem;

        

        &-column {
            flex-direction: row;

            .data-text {
                max-width: 100%;
                padding-right: 1rem;

            }
        }

        

        @media(max-width: 1100px) {
            &-column {
                flex-direction: column;

                .data-text {
                    max-width: 100%;
                    padding-right: 0;
                    padding-bottom: 2rem;
                }
            }
        }
    }

    &--projects {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        &-item {
            flex: 1;
            width: 100%;
            box-sizing: border-box;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            &, img {
                max-width: 20rem;
            }
        }
    }

    &--modal-header {
        padding: 1rem 2rem;
        color: rgb(72, 36, 12);
               

    }

    @media(max-width: 1300px) {
        &--projects {
            flex-direction: column; 
            align-items: center;   
        }
    }
}



.gallery {
    &--projects {
        width: auto;
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    &--images {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &--images-item {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &, img {
            max-width: 11.5rem;
        }
    }

    @media(max-width: 1100px) {
        &--projects {
            margin-right: auto;
        }
    }

    @media(max-width: 1300px) {
        &--projects {
            flex-direction: column; 
            align-items: center;   
        }
    }
}

.portret {
    display: flex;
    flex-direction: row;

    &--box {
        margin-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;   
    }
}

@media (min-width: 600px) {
    .modal-dialog {
        max-width: 80vw;
        width: 60%;
    }
}

.b1 {
   
    margin-right: 2rem;
    
	width: 14rem;
    height: 135%;

    box-shadow: 0 0px 18px rgba(0, 0, 0, 0.35), 0 0px 10px rgba(0, 0, 0, 0.22);

    background-image: url("./images/texture.jpg");
    background-position: left top;
    background-repeat: no-repeat;

 
}

footer {
    width: 100%;
    height: 6rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    color: black;
    box-shadow: inset 0 0px 18px rgba(0, 0, 0, 0.35);

    .material-icons {
        position: relative;
        top: 0.5rem;
        color: red;
    }
}
